:root {
    --h6_font_color: rgba(0, 0, 0, 0.65);
    --horizontal_rule_color: rgba(140, 140, 140, 0.2);
    --job_bullet_color: rgba(0, 0, 0, 0.3);
    --link_color: rgb(65,110,210);
    --desktop_section_border_color: rgb(223,222,219);
    --desktop_background_color: rgb(244, 242, 238);
    --section_padding: 64px;
    --section_margin_top_bottom: 6px;
    --p-margin_top_bottom: 14px;
    --h3_h4_line_height: 24px;
    --h3_h4_fontsize: calc(2*var(--h3_h4_line_height)/3);
    --h3_h4_margin_top: var(--h3_h4_fontsize);
    --job_bullet_width: calc(var(--h3_h4_line_height)/3);
    --job_bullet_top: calc(var(--h3_h4_margin_top) + var(--job_bullet_width));
    --job_bar_top: var(--h3_h4_line_height);
    --job_bar_height: calc(100% - var(--h3_h4_line_height) + var(--h3_h4_margin_top) + var(--p-margin_top_bottom));
    --job_bar_width: 2px;
  }

/* TODO: 
  
      maybe make <p> line text wrap sooner

      experiment with drawing an outlined shape at each item: circles for jobs, squares for education, triangles for languages, and a hexagon for hobbies.
      try and automatically alter the coloring of these shapes, dividing a spectrum (between two colors) into the number of items in a section.
      e.g. job circles go from blue-gray to purple-gray. 

      will need to widen headers that separate companies.

      also try drawing little up-pointing arrowheads to go in-between the first and last jobs of a multi-job company. Use css or svg.

      also make sure job bullets are invisible when printing. */


/* <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15 13.5L12.3003 10.8003V10.8003C12.1344 10.6344 11.8656 10.6344 11.6997 10.8003V10.8003L9 13.5" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg> */


html {
    background-color: var(--desktop_background_color);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    font-weight: 400;
    margin-top: 24px;
    padding-left: 8px;
    padding-right: 8px;
}

p {
    margin-top: var(--p-margin_top_bottom);
    margin-bottom: var(--p-margin_top_bottom);
}

a {
    color: var(--link_color);
    text-decoration: none;
}

h1 {
    font-weight: 300; 
    font-size: 24px;
    line-height: 30px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}

h3, h4 {
    font-size: var(--h3_h4_fontsize);
    font-weight: 600;
    line-height: var(--h3_h4_line_height);
    margin-bottom: 0px;
    margin-top: var(--h3_h4_margin_top);
}

h5, h6 {
    font-size: inherit;
    font-weight: inherit;
    line-height: 20px;
    margin: 0px;
}

h6 {
    color: var(--h6_font_color);
}

hr {
    height: 1px;
    border-width:0px;
    color:var(--horizontal_rule_color);
    background-color:var(--horizontal_rule_color);
}

section {
    background-color: white;
    line-height: 20px;
    margin-top: var(--section_margin_top_bottom);
    margin-bottom: var(--section_margin_top_bottom);
    margin-left: 0px;
    margin-right: 0px;
    padding-left: var(--section_padding);
    padding-right: var(--section_padding);
    border-style: solid;
    border-width: 1px;
    border-color: var(--desktop_section_border_color);
    border-radius: 8px;
    overflow: hidden;
}

.top_section_background_image_container {
    margin-left: calc(0px - var(--section_padding));
    margin-right: calc(0px - var(--section_padding));
    display: flex;
}

.top_section_background_image {
    width: 100%;
}

.top_section_profile_pic_container {
    position: relative; 
    margin-top: -112px; 
    margin-left: calc(0px - var(--section_padding)/2);
    width: 160px; 
    height: 160px; 
    overflow: hidden;
    border-style: solid; 
    border-color: white; 
    border-width: 4px; 
    border-radius: 49.9%;
}

.top_section_profile_pic {
    width: 100%;
}

header {
    display: none;
    background-color: white;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    border-bottom-color: var(--horizontal_rule_color);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    z-index: 1;
}

.header_title_container {
    height: 32px;
    max-width: 800px;
    display: flex;
    vertical-align: middle;
    justify-content: flex-start;
    align-items: center;
    line-height:0;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

.header_title_text {
    font-size: 18px;
    font-weight: 300;
}

.header_profile_pic_container {
    margin-left: 0px; 
    margin-right: 16px;
    width: 32px; 
    height: 32px; 
    overflow: hidden;
    border-radius: 49.9%;
}

.header_profile_pic {
    width: 100%;
}

/* The following four headroom classes ensure that the code in headroom.js
correctly lowers the header once the user has scrolled down from the 
page's top and raises it when and if the user scrolls back up to the top. */
.headroom {
    box-shadow: none;
    will-change: transform;
    transform: translateY(-100%);
    transition: box-shadow 667ms ease-in-out, transform 667ms ease-in-out, visibility 0s linear 0s;
}
.headroom--top {
    display: block;
}
.headroom--top.headroom--pinned {
    box-shadow: none;
    transform: translateY(-100%);
    transition: box-shadow 667ms ease-in-out, transform 667ms ease-in-out, visibility 0s linear 667s;
}
.headroom--not-top {
    display: block;

    /* I find the LinkedIn-style box shadow a bit distracting. Will leave it here in case 
    I later change my mind. */
    /* box-shadow: 0px 0px 0px 1px var(--horizontal_rule_color), 0px 4px 4px rgba(0, 0, 0, 0.3); */

    transform: translateY(0%);
    transition: box-shadow 667ms ease-in-out, transform 667ms ease-in-out, visibility 0s linear 0s;
}

footer {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center; 
}

.contact_info_printed {
    display: none;
}

.jobBar {
    display: block;
    position: relative;
}

.jobBar::before {
    content: "";
    position: absolute;
    left: calc(0px - var(--job_bar_width)/2 - var(--section_padding)/2);
    top: var(--job_bar_top);
    height: var(--job_bar_height);
    width: var(--job_bar_width);
    background-color: var(--horizontal_rule_color);
    border-radius: 1px;
}

.jobBulletCircle {
    position: relative;
    display: block;
    border-radius: 49.9%;
    height: var(--job_bullet_width);
    width: var(--job_bullet_width);
    background-color: var(--job_bullet_color);
    top: var(--job_bullet_top);
    left: calc(0px - var(--job_bullet_width)/2 -  var(--section_padding)/2);
    margin-bottom: calc(0px - var(--job_bullet_width)); /* Very important to prevent the div containing this span from 
                                                           automatically increasing its height by var(--job_bullet_width) px. */
}

.jobBulletChevron {
    position: relative;
    display: block;
    border-radius: 0%;
    top: var(--job_bullet_top);
    left: calc(0px - var(--job_bullet_width)/2 - var(--section_padding)/2     - 4px);
    height: var(--job_bullet_width);
    /* width: 16px; */
    /* aspect-ratio: 1.75;
    clip-path: shape(from 2.09% 96.34%,
                     curve to 12.19% 96.34% with 4.88% 101.22%/9.4% 101.22%,
                     line to 50% 30.18%,
                     line to 87.81% 96.34%,
                     curve to 97.91% 96.34% with 90.6% 101.22%/95.12% 101.22%,
                     curve to 97.91% 78.66% with 100.7% 91.46%/100.7% 83.54%,
                     line to 55.05% 3.66%,
                     curve to 44.95% 3.66% with 52.26% -1.22%/47.74% -1.22%,
                     line to 2.09% 78.66%,
                     curve to 2.09% 96.34% with -0.7% 83.54%/-0.7% 91.46%,
                     close); */
    clip-path: shape(from 92.48% 100%,arc by -5.32% -3.83% of 7.52% 13.06% small cw,line to 49.95% 31.52%,line by -37.21% 64.65%,arc by -10.63% -18.47% of 7.52% 13.06% small cw,line by 42.53% -73.88%,arc by 10.63% 0% of 7.52% 13.06% small cw,line by 42.53% 73.88%,arc by -5.32% 22.29% of 7.52% 13.06% small cw,close);
    aspect-ratio: 1.737;

    /* clip-path: path("M5.29289 15.7071C5.68342 16.0976 6.31658 16.0976 6.70711 15.7071L12 10.4142L17.2929 15.7071C17.6834 16.0976 18.3166 16.0976 18.7071 15.7071C19.0976 15.3166 19.0976 14.6834 18.7071 14.2929L12.7071 8.29289C12.3166 7.90237 11.6834 7.90237 11.2929 8.29289L5.29289 14.2929C4.90237 14.6834 4.90237 15.3166 5.29289 15.7071Z");
    -webkit-clip-path: shape(from 2.09% 96.34%, curve to 12.19% 96.34% with 4.88% 101.22%/9.4% 101.22%,line to 50% 30.18%,line to 87.81% 96.34%,curve to 97.91% 96.34% with 90.6% 101.22%/95.12% 101.22%,curve to 97.91% 78.66% with 100.7% 91.46%/100.7% 83.54%,line to 55.05% 3.66%,curve to 44.95% 3.66% with 52.26% -1.22%/47.74% -1.22%,line to 2.09% 78.66%,curve to 2.09% 96.34% with -0.7% 83.54%/-0.7% 91.46%,close); */
    background-color: var(--job_bullet_color);
    margin-bottom: calc(0px - var(--job_bullet_width)); /* Very important to prevent the div containing this span from 
                                                           automatically increasing its height by var(--job_bullet_width) px. */
} 

/* .jobBulletChevron {
    display: block;
    --r:0px; 
    top: var(--job_bullet_top);
    left: calc(0px - var(--job_bullet_width)/2 - var(--section_padding)/2     );
  
    width: 8px;
    aspect-ratio: 1/cos(30deg);
    --_g:calc(tan(60deg)*var(--r)) bottom var(--r),#000 98%,#0000 101%;
    --webkit-mask:
      conic-gradient(from -30deg at 50% calc(200% - 3*var(--r)/2),#000 60deg,#0000 0)
       0 100%/100% calc(100% - 3*var(--r)/2) no-repeat,
      radial-gradient(var(--r) at 50% calc(2*var(--r)),#000 98%,#0000 101%),
      radial-gradient(var(--r) at left  var(--_g)),
      radial-gradient(var(--r) at right var(--_g));
    clip-path: polygon(50% 0,100% 100%,0 100%);
    background: var(--job_bullet_color);
  } */


/* If we make it a triangle:  */

/* .jobBulletChevron, .jobBulletChevron:before, .jobBulletChevron:after {
     width: 4em; height: 4em; }
.jobBulletChevron {
    overflow: hidden;
    position: relative;
    margin: 7em auto 0;
    border-radius: 20%;
    transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(.866);
    cursor: pointer;
    pointer-events: none;
} 
.jobBulletChevron:before, .jobBulletChevron:after {
    position: absolute;
    background: rgb(178, 178, 178);
    pointer-events: auto;
    content: "";
}
.jobBulletChevron:before {
    border-radius: 20% 20% 20% 53%;
    transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) 
            skewX(30deg) scaleY(.866) translateX(-24%);
}
.jobBulletChevron:after {
    border-radius: 20% 20% 53% 20%;
    transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) 
            skewX(-30deg) scaleY(.866) translateX(24%);
} */

@media all and (max-width: 550px) {

    h2 {
        margin-top: auto;
    }

    hr {
        display: none;
    }

    .html {
        background-color: white;
    }

    .body {
        font-size: 17px;
        font-weight: auto;
    }

    section {
        line-height: 28px;
        /* padding-left: 8px;
        padding-right: 8px; */
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 8px;
        margin-right: 8px;
        border-style: none;
    }

    .header_title_text {
        font-size: 2em;
    }

    .header_title_container {
        margin-top: auto;
        margin-bottom: 30px;
    }

    .contact_info_printed {
        display: none;
    }
}

@media print {

    html {
        background-color: white;
    }

    body {
        margin-top: 0in;
        padding-left: 0in;
        padding-right: 0in;
        max-width: none;
        font-size: 10.5pt;
        line-height: 20pt;
    }
    
    section {
        border-width: 0in !important;
        padding: 0in;
        margin: 0in;
        border-style: none;
        border-radius: 0;
        border-width: 0;
    }

    .headroom, 
    footer,
    .top_section_background_image_container, 
    .top_section_profile_pic_container, 
    .contact_info_screen_display, 
    hr { 
        display: none; 
    }

    h1 {
        font-family: "Futura", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
        text-transform: uppercase;
        font-size: 18pt;
        font-weight: 350;
        margin-top: 0pt;
        margin-bottom: .5in;
    }

    h2 {
        font-size: 15pt;
    }

    h3, h4 {
        font-size: 13pt;
    }

    h6 {
        color: black;
    }

    a {
        color: black;
    }

    /* Doing this makes the printed font tiny.
    Solution from: https://stackoverflow.com/a/10634534/8628758
    TODO: troubleshoot. */
    /* a::after {
        content: " (" attr(href) ")";
    } */

    .contact_info_printed {
        display: block;
    }
}

/* Printing page margins must be set here. */
@page {
    margin-top: .625in;
    margin-bottom: .625in;
    margin-left: 1.125in;
    margin-right: 1.125in;
  }