:root {
    --slight_transparent: rgba(0, 0, 0, 0.65);
  }

html {
    background-color: rgb(244, 242, 238);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    margin-top: 24px;
}

a {
    color: rgb(65,110,210);
    text-decoration: none;
}

h1 {
    font-weight: 300; 
    font-size: 24px;
    line-height: 30px;
}

h2 {
    font-size: 20px;
    line-height: 25px;
}

h3, h4 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-top: 16px;
}

h5, h6 {
    font-size: inherit;
    font-weight: inherit;
    line-height: 20px;
    margin: 0px;
}

h6 {
    color:var(--slight_transparent)
}

hr {
    height: 1px;
    border-width:0px;
    color:rgb(232,232,232);
    background-color:rgb(232,232,232);
}

/* TODO: experiment with a bit more left and right section padding. To keep
fewer characters on each line. */

section {
    background-color: white;
    line-height: 20px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 64px;
    padding-right: 64px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(223,222,219);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* TODO: see if I can get rid of the top_section section. 
Maybe adjust padding so that I can do it all under <section>? */

.top_section {
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}

.top_section_subsection {
    padding-left: 64px; 
    padding-right:64px;
}

header {
    display: none;
    background-color: white;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    border-bottom-color: rgba(140, 140, 140, 0.2);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    z-index: 1;
}

.header_title_text {
    font-size: 18px;
    font-weight: 300;
}

.header_title_container {
    height: 32px;
    max-width: 800px;
    display: flex;
    vertical-align: middle;
    justify-content: flex-start;
    align-items: center;
    line-height:0;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

/* The following four headroom classes ensure that the code in headroom.js
correctly lowers the header once the user has scrolled down from the 
page's top and raises it when and if the user scrolls back up to the top. */

.headroom {
    box-shadow: none;
    will-change: transform;
    transform: translateY(-100%);
    transition: box-shadow 667ms ease-in-out, transform 667ms ease-in-out, visibility 0s linear 0s;
}
.headroom--top {
    display: block;
}
.headroom--top.headroom--pinned {
    box-shadow: none;
    transform: translateY(-100%);
    transition: box-shadow 667ms ease-in-out, transform 667ms ease-in-out, visibility 0s linear 667s;
}
.headroom--not-top {
    display: block;

    /* I find the LinkedIn-style box shadow a bit distracting. Will leave it here in case 
    I later change my mind. */
    /* box-shadow: 0px 0px 0px 1px rgba(140, 140, 140, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.3); */

    transform: translateY(0%);
    transition: box-shadow 667ms ease-in-out, transform 667ms ease-in-out, visibility 0s linear 0s;
}

footer {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center; 
}

.contact_info_printed {
    display: none;
}

@media all and (max-width: 550px) {

    h2 {
        margin-top: auto;
    }

    hr {
        display: none;
    }

    .html {
        background-color: white;
    }

    .body {
        font-size: 17px;
        font-weight: auto;
    }

    section {
        line-height: 28px;
        /* padding-left: 8px;
        padding-right: 8px; */
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 8px;
        margin-right: 8px;
        border-left-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-top-width: 0px;
        border-left-color: white;
        border-right-color: white;
        border-bottom-color: white;
        border-top-color: white;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .header_title_text {
        font-size: 2em;
    }

    .header_title_container {
        margin-top: auto;
        margin-bottom: 30px;
    }

    .contact_info_printed {
        display: none;
    }
}

@media print {

    html {
        background-color: white;
    }

    body {
        max-width: none;
        font-size: 11pt;
    }
    
    section {
        border-width: 0in !important;
        margin-top: 0in;
        margin-bottom: 0in;
        margin-left: 0in;
        margin-right: 0in;
        padding-left: 0in;
        padding-right: 0in;
        border-style: none;
        border-color: white;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .top_section_subsection {
        padding-left: 0in; 
        padding-right: 0in;
    }

    header, .header_title_text, .header_title_container, .header_profile_pic_container, .header_profile_pic, footer, .headroom, .headroom--top, .headroom--pinned, .headroom--not-top, 
    .top_section_background_image_container, .top_section_background_image,
    .top_section_profile_pic_container, .top_section_profile_pic, 
    .contact_info_screen_display, hr { 
        display: none; 
    }

    h1 {
        font-family: "Futura", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
        text-transform: uppercase;
        font-size: 20pt;
        font-weight: 350;
        margin-top: 0pt;
    }

    h2 {
        font-size: 15pt;
    }

    h3, h4 {
        font-size: 13pt;
    }

    a {
        color: black;
    }

    .contact_info_printed {
        display: block;
    }
}

@page {
    margin-top: .75in;
    margin-bottom: .75in;
    margin-left: 1in;
    margin-right: 1in;
  }