:root {
    --slight_transparent: rgba(0, 0, 0, 0.65);
    --horizontal_rule_color: rgb(232,232,232);
    --link_color: rgb(65,110,210);
    --desktop_header_bottom_border_color: rgba(140, 140, 140, 0.2);
    --desktop_section_border_color: rgb(223,222,219);
    --desktop_background_color: rgb(244, 242, 238);
    --section_padding: 64px;
    --section_margin_top_bottom: 6px;
  }

html {
    background-color: var(--desktop_background_color);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    margin-top: 24px;
    padding-left: 8px;
    padding-right: 8px;
}

a {
    color: var(--link_color);
    text-decoration: none;
}

h1 {
    font-weight: 300; 
    font-size: 24px;
    line-height: 30px;
}

h2 {
    font-size: 20px;
    line-height: 25px;
}

h3, h4 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-top: 16px;
}

h5, h6 {
    font-size: inherit;
    font-weight: inherit;
    line-height: 20px;
    margin: 0px;
}

h6 {
    color: var(--slight_transparent);
}

hr {
    height: 1px;
    border-width:0px;
    color:var(--horizontal_rule_color);
    background-color:var(--horizontal_rule_color);
}

section {
    background-color: white;
    line-height: 20px;
    margin-top: var(--section_margin_top_bottom);
    margin-bottom: var(--section_margin_top_bottom);
    margin-left: 0px;
    margin-right: 0px;
    padding-left: var(--section_padding);
    padding-right: var(--section_padding);
    border-style: solid;
    border-width: 1px;
    border-color: var(--desktop_section_border_color);
    border-radius: 8px;
    overflow: hidden;
}

.top_section_background_image_container {
    margin-left: calc(0px - var(--section_padding));
    margin-right: calc(0px - var(--section_padding));
    display: flex;
}

.top_section_background_image {
    width: 100%;
}

.top_section_profile_pic_container {
    position: relative; 
    margin-top: -112px; 
    margin-left: calc(0px - var(--section_padding)/2);
    width: 160px; 
    height: 160px; 
    overflow: hidden;
    border-style: solid; 
    border-color: white; 
    border-width: 4px; 
    border-radius: 49.9%;
}

.top_section_profile_pic {
    width: 100%;
}

header {
    display: none;
    background-color: white;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    border-bottom-color: var(--desktop_header_bottom_border_color);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    z-index: 1;
}

.header_title_container {
    height: 32px;
    max-width: 800px;
    display: flex;
    vertical-align: middle;
    justify-content: flex-start;
    align-items: center;
    line-height:0;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

.header_title_text {
    font-size: 18px;
    font-weight: 300;
}

.header_profile_pic_container {
    margin-left: 0px; 
    margin-right: 16px;
    width: 32px; 
    height: 32px; 
    overflow: hidden;
    border-radius: 49.9%;
}

.header_profile_pic {
    width: 100%;
}

/* The following four headroom classes ensure that the code in headroom.js
correctly lowers the header once the user has scrolled down from the 
page's top and raises it when and if the user scrolls back up to the top. */
.headroom {
    box-shadow: none;
    will-change: transform;
    transform: translateY(-100%);
    transition: box-shadow 667ms ease-in-out, transform 667ms ease-in-out, visibility 0s linear 0s;
}
.headroom--top {
    display: block;
}
.headroom--top.headroom--pinned {
    box-shadow: none;
    transform: translateY(-100%);
    transition: box-shadow 667ms ease-in-out, transform 667ms ease-in-out, visibility 0s linear 667s;
}
.headroom--not-top {
    display: block;

    /* I find the LinkedIn-style box shadow a bit distracting. Will leave it here in case 
    I later change my mind. */
    /* box-shadow: 0px 0px 0px 1px var(--desktop_header_bottom_border_color), 0px 4px 4px rgba(0, 0, 0, 0.3); */

    transform: translateY(0%);
    transition: box-shadow 667ms ease-in-out, transform 667ms ease-in-out, visibility 0s linear 0s;
}

footer {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center; 
}

.contact_info_printed {
    display: none;
}

/* line {
    stroke: var(--horizontal_rule_color);
    width: 2px;
    z-index: 99;
} */

.company {
    display: block;
    /* flex-direction: column; */
    position: relative;
}

.company::before {
    content: "";
    position: absolute;
    left: calc(-1px - var(--section_padding)/2);
    top: 3.6rem;
    height: calc(100% - 2.4rem);
    width: 2px;
    background-color: var(--horizontal_rule_color);
    box-sizing: border-box;
}

@media all and (max-width: 550px) {

    h2 {
        margin-top: auto;
    }

    hr {
        display: none;
    }

    .html {
        background-color: white;
    }

    .body {
        font-size: 17px;
        font-weight: auto;
    }

    section {
        line-height: 28px;
        /* padding-left: 8px;
        padding-right: 8px; */
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 8px;
        margin-right: 8px;
        border-style: none;
    }

    .header_title_text {
        font-size: 2em;
    }

    .header_title_container {
        margin-top: auto;
        margin-bottom: 30px;
    }

    .contact_info_printed {
        display: none;
    }
}

@media print {

    html {
        background-color: white;
    }

    body {
        margin-top: 0in;
        padding-left: 0in;
        padding-right: 0in;
        max-width: none;
        font-size: 10.5pt;
        line-height: 20pt;
    }
    
    section {
        border-width: 0in !important;
        padding: 0in;
        margin: 0in;
        border-style: none;
        border-radius: 0;
        border-width: 0;
    }

    .headroom, 
    footer,
    .top_section_background_image_container, 
    .top_section_profile_pic_container, 
    .contact_info_screen_display, 
    hr { 
        display: none; 
    }

    h1 {
        font-family: "Futura", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
        text-transform: uppercase;
        font-size: 18pt;
        font-weight: 350;
        margin-top: 0pt;
        margin-bottom: .5in;
    }

    h2 {
        font-size: 15pt;
    }

    h3, h4 {
        font-size: 13pt;
    }

    a {
        color: black;
    }

    /* Doing this makes the printed font tiny.
    Solution from: https://stackoverflow.com/a/10634534/8628758
    TODO: troubleshoot. */
    /* a::after {
        content: " (" attr(href) ")";
    } */

    .contact_info_printed {
        display: block;
    }
}

/* Printing page margins must be set here. */
@page {
    margin-top: .625in;
    margin-bottom: .625in;
    margin-left: 1.125in;
    margin-right: 1.125in;
  }