:root {
    --slight_transparent: rgba(0, 0, 0, 0.6);
  }

html {
    background-color: #fffffe;
    max-width: 620px;
    margin-right: auto;
    margin-left: auto;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
}

body {
    line-height: 28px;
    padding: 8px;
}

a {
    color: rgb(65,110,210);
    text-decoration: none;
}

footer {
    text-align: center; 
    font-size: 15px;
}

h1 {
    font-size: 40px;
}

.title_heading {
    display: flex;
    vertical-align: middle;
    justify-content: flex-start;
    align-items: center;
}

.centered_list {
    display: flex;
    justify-content: center;
}

.date_city_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date_city_text {
    font-size: 15px;
    text-align: right;
    line-height:1.3;
    color:var(--slight_transparent);
    margin-top: 0;
    margin-bottom:0;
}

@media all and (max-width: 600px) {

    /* body {
        font-size: 17px;
    } */

}
