

html {
    background-color: #fffffe;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding:50px;
    color: #181c27;
}



/* h2 {
    TODO: increase lead vertical spacing
} */