

html {
    background-color: #fffffe;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* padding:50px; */
    color: #181c27;
    font-size: 16px;
}

/* p {
    font-size: 18px;
} */



/* h2 {
    TODO: increase lead vertical spacing
} */