<!-- 
The look and feel of this resume is best summed up by the 
expression, "more LinkedIn than LinkedIn." Well, for better
or worse, it has become the standard, I suppose. 
-->

<!doctype html>
<html lang="en" class="resume_html">
  <head>
    <link rel="icon" type="image/png" href="../images/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="title_heading">
        <a href="/"><img style="width:65px;" src="../images/cv_pic_circle_500.png" alt="profile pic"></a>
        <h1 class="resume_title">&nbsp;&nbsp;{{ page.title }}</h1>
    </div>
    

    {% assign sectionBreak = "<p>[SECTION-BREAK]</p>" %}
    {% assign $sections = content | split sectionBreak %}
    {% for section in sections %}
        <section class="resume_body">
          {{ section }}
        </section>
    {% endfor %}

    <!-- <section class="resume_body">
      {{ content }}
    </section> -->
    <br/><br/>
    <footer>
      © <script>document.write(/\d{4}/.exec(Date())[0])</script> James Dellinger
    </footer>
  </body>
</html>