<!doctype html>
<html lang="en">       
  <head>
    <link rel="icon" type="image/png" href="../images/favicon.png"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"> 
    <meta name="theme-color" content="#000000"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>The Homepage<br>of James<br>Dellinger</h1>
    <section>
      {{ content }}
    </section>
    <footer>
      © <script>document.write(/\d{4}/.exec(Date())[0])</script> James Dellinger
    </footer>
  </body>
</html>
