<!doctype html>
<html lang="en" style="padding-top: 0; margin-top: 0;
                      background: url('../images/sh.jpg') no-repeat top center fixed; 
                      background-size: auto 140px">
  <head>
    <link rel="icon" type="image/png" href="../images/favicon.png"/>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body style="padding-top: 180px;">
    <h1 style="text-align:center; font-size: 40px;">{{ page.title }}</h1>
    <br />
    <section>
      {{ content }}
    </section>
    <br /><br />
    <footer style="text-align: center; font-size: 14px;">
      © <script>document.write(/\d{4}/.exec(Date())[0])</script> James Dellinger
    </footer>
  </body>
</html>
